.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header {
  /*Vertical Align*/
  margin: auto;
  padding: 10px;

  /*Horizontal Align*/
  text-align: center;
}

.footer {
  background: white;

  /*Vertical Align*/
  margin: auto;
  width: 50%;
  padding: 10px;

  /*Horizontal Align*/
  text-align: center;
}

.backgroundImage {
  height: 100%;
  margin-top: -1%;

  /* The image used */
  /*TEST*/
  /*background-image: url('http://localhost:3000/images/background-main.jpg');*/
  /*PROD*/
  background-image: url(https://www.wilsonnieuwdorpwedding.com/images/background-main.jpg);

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

span.link {
  color: black;
  cursor: pointer;
}

span.link-image {
  color: red;
  cursor: pointer;
}

.hover:hover * {
  color: purple;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
